.list {
  margin: 0;
  padding: 0;
  height: 75vh;
  overflow-y: scroll;
}

.item {
  max-width: 584px;
  margin: 16px 8px;
  list-style-type: none;
}

.item:first-child {
  margin-top: 0;
}

.link {
  text-decoration: none;
  color: rgba(242, 242, 243, 1);
}
.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: #2f2f37;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}
