.modal {
  border-radius: 40px;
  background: #1c1c21;
  z-index: 100;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 720px;
  transition: all 0.3s;
}

.closeButton {
  position: absolute;
  top: 60px;
  right: 40px;
  z-index: 2;
}

.closeButton:hover {
  opacity: 0.3;
  transition: all 0.3s;
  cursor: pointer;
}
